body{
    background-color: ghostwhite;/*f8f8ff*/
}
/*em, ex ja % ekraani suhtes suuruse muutmiseks*/
/*http://jigsaw.w3.org/css-validator*/
h1{
    text-align: center;
    font-family: Castellar;
    font-weight: 100;
    color:darkgray;
    font-size: 1000%;
    position: relative;
    top: 80px;
    /*text-shadow: 1px 1px 1px #c4c4c4*/
}
.center {
    margin: auto;
}
div#parent{
    background-color: #f4f4f5;
    position: relative;
    top: -30px;
    width: 350px;
    height: 150px;
}
div#child{
    text-align: center;
    position: relative;
    top: 45px;
    font-family: Arial;
    font-weight: bold;
    color: darkgray;
    font-size: 120%;
}
button{
    background-image: url(https://online.epa.ee/img/lk/ikoon_id.gif);
    width:82px;
    height: 28px;
    position: relative;
    top: 60px;
    left: 134px;
}
