div.google_map{
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 1;
}
#navigation-bar{
    width: 100%;
    left: 0;
    top: 0;
    height: 54px;
    position: absolute;
    background-color: #656565;
    z-index: 2;
}
#navigation-list{
    list-style-type: none;
}
#navigation-list li a{
    font-family: "Verdana", sans-serif;
    font-size: 100%;
    margin-left: 3%;
    color: #ebebf1;
    float: left;
    cursor: pointer;
    display: block;
    text-decoration: none;
    -o-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}
#navigation-list li a:hover{
    color: #ffffff;
    text-shadow: 0 0 1px #eeeeee;
}
#map{
    font-weight: bold;
}
.title-bar {
    background: #656565;
    padding: 0.9rem;
    height: 7%;

}

.title-bar-title {
    color: #fff;
    font-weight: bold;
}


label {
    display: none;
}

