div.google_map{
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 1;
}
#navigation-bar{
    width: 100%;
    left: 0;
    top: 0;
    height: 54px;
    position: absolute;
    background-color: #656565;
    z-index: 2;
}
#navigation-list{
    list-style-type: none;
}
#navigation-list li a{
    font-family: "Verdana", sans-serif;
    font-size: 100%;
    color: white;
    margin-left: 3%;
    float: left;
    cursor: pointer;
    display: block;
    text-decoration: none;
}
#navigation-list li a:hover{
    text-decoration: underline;
}
#map{
    font-weight: bold;
}
.title-bar {
    background: #656565;
    padding: 0.9rem;
    height: 7%;

}

.title-bar-title {
    color: #fff;
    font-weight: bold;
}
.dropbutton {
    background-color: #656565;
    color: white;
    font-weight: bold;
    font-family: "Verdana", sans-serif;
    font-size: 1em;
    border: none;
    cursor: pointer;
}

.menu-item {
    text-decoration: none;
    color: white;
    padding: 0.1em;
    display: block;
    cursor: pointer;
    font-family: "Verdana", sans-serif;

}

#smallscreenEn, #smallscreenEt {
    text-decoration: none;
    color: white;
    padding: 0.1em;
    display: block;
    background-color: #656565;
    border: none;
    font-size: 100%;
    cursor: pointer;
    float: right;
    margin-right: 5%;
    top: 0;

}
.dropdown {
    position: relative;
    display: inline-block;
    float: right;
    margin-right: 5%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #656565;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    padding: 1em;
    z-index: 100;
    width: 200%;
    right: 1px;
}

.dropdown:hover .dropdown-content {
    display: block;
}
#small-screen-menu {
    display: none;
    background-color: #656565;
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
}

#small-screen-list {
    list-style-type: none;
    background-color: #656565;

}
label {
    display: none;
}

#en, #et {
    background-color: #656565;
    color: white;
    font-family: "Verdana", sans-serif;
    font-size: 1em;
    border: none;
    cursor: pointer;
}
@media screen and (max-height: 120px) {
    .dropdown{
        display: none;
    }
    #small-screen-menu {
        display: block;
    }
    #smallscreenEn,#smallscreenEt{
        display: block;
    }
}