/*TODO: Logout button and contact heading to change according to the screen size*/
html, body {
    background-color: ghostwhite;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Microsoft YaHei Light"; /*TODO: better font*/
}

#wrapper {
    height: 100%;
}

#header {
    height: 5%;
}

/*TODO: better-looking & not under recipient div when reducing window size*/
#logout {
    background-color: indianred;
    border: none;
    font-size: 100%;
    font-weight: 200;
    position: absolute;
    right: 0;
    top: 0;
    margin: 7px;
    border-radius: 7px;
}

#logout:hover, #settingsbutton:hover {
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.24), 0 4px 2px 0 rgba(0, 0, 0, 0.19);
}

#container {
    height: 80%;
}

#contacts {
    border: 1px solid whitesmoke; /*TODO: kui ära võtta, siis liigub input paigast???*/
    height: 70%;
    width: 22%;
    border-radius: 2%;
}

#messagebox {
    position: absolute;
    background-color: white;
    border: 1px solid #EDEDF2;
    box-shadow: 2px 1px 1px #EDEDF2;
    left: 23%;
    top: 6%;
    height: 78%;
    width: 50%;
    border-radius: 2%;
}

#recepient {
    position: absolute;
    height: 30%;
    width: 25%;
    right: 0;
    margin-right: 1%;
    top: 6%;
    background-color: gainsboro;
    border-radius: 3%;
    box-shadow: 2px 1px 1px #c9c9c9;
}

h3 {
    margin-left: 10%;
    font-weight: bold;
    color: #949494;
    font-size: 1em;
}

#settingsbutton {
    background-color: gainsboro;
    border-radius: 7px;
    font-family: "Microsoft YaHei Light";
    position: absolute;
    right: 1%;
    top: 37%
}

#footer {
    height: 13%;
    bottom: 0;
}

input {
    padding: 5px;
    margin: 5px 0;
    position: absolute;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
}

input.active { /*TODO: not working*/
    border: solid 1px whitesmoke;
    box-shadow: 0 0 5px 1px whitesmoke;
}

#message {
    width: 48%;
    left: 23%;
}

#searchcontact {
    width: 20%;
}

#send {
    background-color: gainsboro;
    border-radius: 7px;
    font-family: "Microsoft YaHei Light";
    position: absolute;
    right: 20%;
    bottom: 11%;
}