/*TODO: Contact heading to change according to window size*/
/*TODO: Messagebox scrollable and wraps text*/
html, body {
    background-color: ghostwhite;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Microsoft YaHei Light"; /*TODO: better font*/
}

#wrapper {
    height: 100%;
}

label {
    display: none;
}

#header {
    height: 5%;
    padding-bottom: 1%;
}

/*TODO: better-looking & not under recipient div when reducing window size*/

#logout {
    background-color: indianred;
    border: none;
    font-size: 2.2vmin;
    font-weight: 200;
    position: fixed;
    right: 0;
    top: 0;
    margin: 7px;
    border-radius: 7px;
}

#logout:hover, #settingsbutton:hover, #en:hover, #est:hover, #send:hover {
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.24), 0 4px 2px 0 rgba(0, 0, 0, 0.19);
}

#en {
    left: 4.5vmin;

}

#est {
    left: 0;
}

#en, #est {
    background-color: gainsboro;
    border-radius: 7px;
    font-family: "Microsoft YaHei Light";
    position: absolute;
    font-size: 1.8vmin;
    margin: 7px 7px;
}

#container {
    height: 80%;
    padding-top: 1%;
}

#contacts {
    border: 1px solid whitesmoke; /*TODO: kui ära võtta, siis liigub input paigast???*/
    height: 70%;
    width: 22%;
    border-radius: 2%;
}

#messagebox {
    position: absolute;
    background-color: white;
    border: 1px solid #EDEDF2;
    box-shadow: 2px 1px 1px #EDEDF2;
    left: 23%;
    top: 6%;
    height: 78%;
    width: 50%;
    border-radius: 2%;
    white-space: pre-wrap;      /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: break-word;
    overflow-y: auto;
}

#recepient {
    position: absolute;
    height: 30%;
    width: 25%;
    right: 0;
    margin-right: 1%;
    top: 6%;
    background-color: gainsboro;
    border-radius: 3%;
    box-shadow: 2px 1px 1px #c9c9c9;
}

h3 {
    margin-left: 10%;
    font-weight: bold;
    color: #949494;
    font-size: 1em;
}

#settingsbutton {
    background-color: gainsboro;
    border-radius: 7px;
    font-family: "Microsoft YaHei Light";
    position: absolute;
    right: 1%;
    top: 37%
}

#thingy {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 17px solid gainsboro;
    display: none;
    position: absolute;
    top: 39.5%;
    right: 3%;
}

#settingsbox {
    display: none;
    /*border: 2px solid gold;*/
    right: 0;
    position: absolute;
    width: 25%;
    top: 39%;
}

.settings {
    border: 1px solid gray;
    background-color: gainsboro;
    font-size: 1.8vmin;
    height: 5.2vmin;
    /*position: absolute;*/
    /*right: 0;*/
    /*left: 0;*/

}

#footer {
    height: 13%;
    bottom: 0;
}

input {
    padding: 5px;
    margin: 8px 0;
    position: absolute;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
}

input.active { /*TODO: not working*/
    border: solid 1px whitesmoke;
    box-shadow: 0 0 5px 1px whitesmoke;
}

#message {
    width: 48%;
    left: 23%;
    bottom: 7.5%;
}

#searchcontact {
    width: 20%;
}

#send {
    background-color: gainsboro;
    border-radius: 7px;
    font-family: "Microsoft YaHei Light";
    position: absolute;
    right: 20%;
    bottom: 9%;
}