
@media screen and (max-width: 480px){
    button.headerbutton{
        font-size: 12px;
    }
}

@media screen and (max-height: 480px){
    button.headerbutton{
        font-size: 12px;
    }
}

@media screen and (max-width: 1490px){
    #en{
        left: 5vmin;
    }
}