* {
    box-sizing: border-box;
}

html, body {
    background-color: ghostwhite;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Verdana", sans-serif;
}

.title-bar {
    background: #656565;
    padding: 0.9rem;
    height: 7%;

}

.title-bar-title {
    color: #fff;
    font-weight: bold;
}

/*TODO: position better*/

.dropbutton {
    background-color: #656565;
    color: white;
    font-weight: bold;
    font-family: "Verdana", sans-serif;
    font-size: 1em;
    border: none;
    cursor: pointer;
}

.menu-item {
    text-decoration: none;
    color: white;
    padding: 0.1em;
    display: block;
    cursor: pointer;
}

#smallscreenEn, #smallscreenEt, #smallscreenMap {
    text-decoration: none;
    color: white;
    padding: 0.1em;
    display: block;
    background-color: #656565;
    border: none;
    font-size: 100%;
    cursor: pointer;
    float: right;
    margin-right: 10%;
    top: 0;

}
#navigation{
    width: 100%;
    position: absolute;
    top: 0;
}
#navigation-list{
    list-style-type: none;
}

#navigation-list li a{
    color: white;
    margin-left: 3%;
    float: left;
    cursor: pointer;
    display: block;
    text-decoration: none;
}
#home{
    font-weight: bold;
}
#navigation-list li a:hover{
    text-decoration: underline;
}
.dropdown {
    position: relative;
    display: inline-block;
    float: right;
    margin-right: 5%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #656565;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    padding: 1em;
    z-index: 100;
    width: 200%;
    right: 1px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#wrapper {
    height: 100%;
}

label {
    display: none;
}

#header {
    height: 5%;
    padding-bottom: 1%;
}

#send:hover {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
}

#small-screen-menu {
    display: none;
    background-color: #656565;
    width: 100%;
    position: absolute;
    right: 0;
}

#small-screen-list {
    list-style-type: none;
    background-color: #656565;

}

#en, #et {
    background-color: #656565;
    color: white;
    font-family: "Verdana", sans-serif;
    font-size: 1em;
    border: none;
    cursor: pointer;
}

#mapbutton {
    background-color: coral;
    border: none;
    left: 10vmin;
    margin: 7px 7px;
    font-size: 1.8vmin;
}

#container {
    height: 80%;
}

#contacts {
    height: 70%;
    width: 22%;
    border-radius: 2%;
}

#messagebox {
    position: absolute;
    background-color: white;
    border: 1px solid #EDEDF2;
    box-shadow: 2px 1px 1px #EDEDF2;
    left: 20.9%;
    top: 7%;
    height: 86%;
    width: 76vw;
    white-space: pre-wrap; /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word;
    overflow-y: auto;
    font-size: 110%;
    color: #7e7e7e;
    z-index: 99;
}

input {
    padding: 5px;
    margin: 8px 0;
    position: absolute;
    font-size: 15px;
    font-family: "Verdana", sans-serif;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#searchcontact {
    width: 21%;
    height: 5%;
    top: 5.9%;
    border: 1px solid #EDEDF2;
    font-size: 105%;
    color: #7e7e7e;
}

#message {
    position: absolute;
    left: 20.9%;
    height: 7%;
    width: 76%;
    bottom: 0;
    font-size: 105%;
    border: none;
    background-color: white;
    margin-bottom: 0;
    border-top: 1px solid #b9b9b9;
    color: #7e7e7e;
}

#send {
    background-color: coral;
    right: 3%;
    height: 7%;
    width: 7%;
    border: none;
    bottom: 0;
    margin-bottom: 0;
    color: white;
    font-weight: bold;
    font-size: 0.7em;
    cursor: pointer;
    z-index: 99;
}

.ui-helper-hidden-accessible {
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.ui-tooltip {
    padding: 8px;
    position: absolute;
    z-index: 9999;
    max-width: 300px;
    box-shadow: 0 0 5px #aaa;
}

#list {
    list-style-type: none;
    color: #656565;

}

#list li {
    margin: 10%;
}

/*TODO: not working*/
#list li.activated {
    background-color: #aaaaaa;
}

#list li.deactivated {
    background-color: #9B9B9B;
}